
/* Categories vars */

$category-header: #222222;
$category-subheader: #005EFF;
$category-title: #fff;

$category-padding-top-bottom: 20px;

$category-header-text-height: 29px;
$category-header-padding-bottom: 15px;

$category-li-width: 194px;
$category-li-height: 126px;
$category-li-separation: 15px;
